
.card {
  width: 160px;
  border-radius: 1em;
  align-items: center;
  background-color: rgb(104, 103, 103);
}

img {
  margin-top: 10px;
  margin-left: 10px;
  width: 140px;
  height: 75px;
}

h5 {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  margin-left: 10px;
}
