header {
    height: 40px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
}

main {
    padding: 20px;   
}

footer {
    height: 40px;
    line-height: 40px;
    background-color: darkgrey;
    text-align: center;
}
